<!DOCTYPE html>
<html>
<head>
<!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Add Chapters</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
	<!--/* Standard layout can be mixed with Layout Dialect */-->
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
	
		<div layout:fragment="content">		
			<div class="container my-5">
			<label>Chapters</label>
				<div class="card">
					<div class="card-body">
						<div class="col-md-8">

							<div class="row">
								<div class="form-group col-md-8">
									<label for="name" class="col-form-label">Name :</label> <label
										for="name" class="col-form-label" th:text="*{course.name}"></label>

								</div>

							</div>
							<div class="row">
								<div class="form-group col-md-8">
									<label for="name" class="col-form-label">Category :</label> <label
										for="name" class="col-form-label" th:text="*{course.category}"></label>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
			<div class="container my-5">
				<!-- <h3>Add Chapters</h3> -->
				<div class="card">
					<div class="card-body">
						<div class="col-md-8">
							<form action="#"
								th:action="@{/courses/view/{id}/chapters/add(id=${course.id})}"
								th:object="${chapter}" method="post">
								<div class="row">
									<div class="form-group col-md-8">
										<label for="name" class="col-form-label">Name</label> <input
											type="text" th:field="*{name}" class="form-control" id="name"
											placeholder="Name"> <span
											th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
											class="text-danger"></span>
									</div>
									<div class="form-group col-md-8">
										<label for="title" class="col-form-label">Title</label> <input
											type="text" th:field="*{title}" class="form-control"
											id="title" placeholder="title"> <span
											th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
											class="text-danger"></span>
									</div>
									<div class="form-group col-md-8">
										<label for="title" class="col-form-label">Video Link</label> <input
											type="text" th:field="*{content.youTubeVideoLink}" class="form-control"
											id="youTubeVideoLink" placeholder="Youtube Video Link">
										<span th:if="${#fields.hasErrors('content.youTubeVideoLink')}"
											th:errors="*{content.youTubeVideoLink}" class="text-danger"></span>
									</div>
									<div class="form-group col-md-8">
										<label for="tags" class="col-form-label">Tags</label> <input
											type="text" th:field="*{tags}" class="form-control"
											id="videoLink" placeholder="Tags"> <span
											th:if="${#fields.hasErrors('tags')}" th:errors="tags"
											class="text-danger"></span>
									</div>

									<div class="form-group col-md-8">
										<input type="submit" class="btn btn-primary"
											value="Add Chapter">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="container my-2">
				<div class="card">
					<div class="card-body">
						<div th:switch="${chapters}" class="container my-5">							
							<div class="col-md-12">
								<h2 th:case="null">No course found!</h2>
								<div th:case="*">
									<table class="table table-striped table-responsive-md">
										<thead>
											<tr>
												<th>Name</th>
												<th>OwnerId</th>
												<th>Video Link</th>
												<th>Edit</th>
												<th>Delete</th>
												<th>Add Questions</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="chapter : ${chapters}">
												<td th:text="${chapter.name}"></td>
												<td th:text="${chapter.title}"></td>
												
												<td th:text="${chapter.content !=null ? chapter.content.youTubeVideoId: ''}"></td>
												<td><a
													th:href="@{/courses/edit/{id}(id=${chapter.id})}"
													class="btn btn-primary"><i class="fas fa-edit ml-2"></i></a></td>
												<td><a
													th:href="@{/courses/view/{courseId}/chapters/delete/{id}(id=${chapter.id},courseId=${chapter.courseId})}"
													class="btn btn-primary"><i class="fas fa-times ml-2"></i></a></td>
												<td><a
													th:href="@{/courses/view/{id}/chapters/{chapterId}/questions/add(id=${course.id},chapterId=${chapter.id})}"
													class="btn btn-primary"><i class="fas fa-plus ml-2"></i></a></td>	
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div th:replace="fragments/footer :: footer">&copy; 2014 The
			Static Templates</div>
	</div>
</body>
</html>
