<!DOCTYPE html>
<html>
<head>
<!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Add Questions</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
	<!--/* Standard layout can be mixed with Layout Dialect */-->
	<div th:replace="fragments/header :: header"></div>
	<div class="container">

		<div layout:fragment="content">
			<div class="container my-5">
				<label>Chapters</label>
				<div class="card">
					<div class="card-body">
						<div class="col-md-8">

							<div class="row">
								<div class="form-group col-md-8">
									<label for="name" class="col-form-label">Name :</label> <label
										for="name" class="col-form-label" th:text="*{course.name}"></label>

								</div>

							</div>
							<div class="row">
								<div class="form-group col-md-8">
									<label for="name" class="col-form-label">Category :</label> <label
										for="name" class="col-form-label" th:text="*{course.category}"></label>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
			<div class="container my-5">
				<h3>Add Question</h3>
				<div class="card">
					<div class="card-body">
						<div class="col-md-8">
							<form action="#"
								th:action="@{/courses/view/{courseId}/chapters/{chapterId}/questions/add(courseId=${course.id},chapterId=${chapter.id})}"
								th:object="${question}" method="post">
								<div class="row">
								<input type="hidden" th:field="*{id}"
											class="form-control" id="id"
											>
									<div class="form-group col-md-8">
										<label for="description" class="col-form-label">Question</label>
										<input type="text" th:field="*{description}"
											class="form-control" id="description"
											placeholder="Description"> <span
											th:if="${#fields.hasErrors('description')}"
											th:errors="*{description}" class="text-danger"></span>
									</div>
									<div class="form-group col-md-8">
										<label for="description" class="col-form-label">Question</label>
										<select class="form-control" th:field="*{answerType}">
											<option th:each="atype : ${answerTypes}" th:value="${atype}"
												th:text="${atype}"></option>
										</select> <span th:if="${#fields.hasErrors('answerType')}"
											th:errors="*{description}" class="text-danger"></span>
									</div>

									<div class="form-group col-md-8">
										<label for="answer" class="col-form-label">Answer</label> <textarea
											type="text" th:field="*{answer}" class="form-control"
											id="answer" placeholder="Answer"> </textarea> <span
											th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}"
											class="text-danger"></span>
									</div>
									<!-- <div class="form-group col-md-8">
										<label for="title" class="col-form-label">Video Link</label> <input
											type="text" th:field="*{videoLink}" class="form-control"
											id="videoLink" placeholder="Youtube Video Link with embed">
										<span th:if="${#fields.hasErrors('videoLink')}"
											th:errors="*{videoLink}" class="text-danger"></span>
									</div>
									<div class="form-group col-md-8">
										<label for="tags" class="col-form-label">Tags</label> <input
											type="text" th:field="*{tags}" class="form-control"
											id="videoLink" placeholder="Tags"> <span
											th:if="${#fields.hasErrors('tags')}" th:errors="tags"
											class="text-danger"></span>
									</div> -->

									<div class="form-group col-md-8">
										<input type="submit" class="btn btn-primary"
											value="Add Question">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<div class="container my-2">
				<div class="card">
					<div class="card-body">
						<div th:switch="${chapter.examQuestions}" class="container my-5">
							<div class="col-md-10">
								<h2 th:case="null">No questions found!</h2>
								<div th:case="*">
									<table class="table table-striped table-responsive-md">
										<thead>
											<tr>
												<th>Name</th>
												<th>Answer</th>
												<th>Answer Type</th>
												<th>Edit</th>
												<th>Delete</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="question : ${chapter.examQuestions}">
												<td th:text="${question.description}"></td>
												<td th:text=${question.answer}></td>
												<td th:text="${question.answerType}"></td>
												<td><a
													th:href="@{/courses/edit/{id}(id=${question.id})}"
													class="btn btn-primary"><i class="fas fa-edit ml-2"></i></a></td>
												<td><a
													th:href="@{/courses/view/{courseId}/chapters/delete/{id}(id=${question.id},courseId=${chapter.courseId})}"
													class="btn btn-primary"><i class="fas fa-times ml-2"></i></a></td> 
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div th:replace="fragments/footer :: footer">&copy; 2014 The
			Static Templates</div>
	</div>
</body>
</html>
