<!DOCTYPE html>
<html>
<head>
<!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">View
	Chapters</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
	<!--/* Standard layout can be mixed with Layout Dialect */-->
	<div th:replace="fragments/header :: header"></div>
	<div class="container">

		<div layout:fragment="content">
			<div class="container my-5">
				<!-- <label>Chapters</label> -->
				<div class="card">
					<div class="card-body">
						<div class="col-md-8">

							<div class="row">
								<div class="form-group col-md-8">
									<label for="name" class="col-form-label">Course Name :</label>
									<label for="name" class="col-form-label"
										th:text="*{course.name}"></label>

								</div>

							</div>
							<div class="row">
								<div class="form-group col-md-8">
									<label for="name" class="col-form-label">Course
										Category : </label> <label for="name" class="col-form-label"
										th:text="*{course.category}"></label>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-8">
									<label for="name" class="col-form-label">Chapter Name :
									</label> <label for="name" class="col-form-label" th:text="*{chapter.name}"></label>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- <div class="container my-5">
				<h3>Add Chapters</h3>
				<div class="card">
					<div class="card-body">
						<div class="col-md-8">
							<form action="#"
								th:action="@{/courses/view/{id}/chapters/add(id=${course.id})}"
								th:object="${chapter}" method="post">
								<div class="row">
									<div class="form-group col-md-8">
										<label for="name" class="col-form-label">Chapter Name
											: </label> <label for="name" class="col-form-label" th:text="*{name}"></label>
									</div>
									<div class="form-group col-md-8">
										<label for="title" class="col-form-label">Title : </label> <label
											for="name" class="col-form-label" th:text="*{title}"></label>
									</div>

									<div class="form-group col-md-8">
										<label for="tags" class="col-form-label">Tags : </label> <label
											for="name" class="col-form-label" th:text="*{tags}"></label>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div> -->
			<form action="#"
				th:action="@{/courses/learn/{courseId}/chapters/{chapterId}/exam(courseId=${course.id},chapterId=${chapter.id})}"
				th:object="${answerSheet}" method="post">
				<span th:text="*{questions.size()}"></div>
				<div class="container my-5"
					th:each="question,i : ${answerSheet.questions}">
					<div class="form-group col-md-8">
										<label for="name" class="col-form-label"
											th:text="|Question-${i.index} : |"></label> <label
											for="name" class="col-form-label"
											th:text="${question.chapterQuestion.description}"></label>
									</div>
					<div class="form-group col-md-8">
										<label for="title" class="col-form-label">Answer </label> <input
											type="text" class="form-control" id="answer"
											placeholderz="Answer" th:field="*{answerSheet.questions[__${i.index}__].answer}"> <span class="text"></span>
									</div>					 					 
									<input type="hidden" class="form-control" id="answer"
											placeholderz="Answer" th:field="*{answerSheet.questions[__${i.index}__].chapterId}">
									<input type="hidden" class="form-control" id="answer"
											placeholderz="Answer" th:field="*{answerSheet.questions[__${i.index}__].chapterId}">
									<input type="hidden" class="form-control" id="answer"
									placeholderz="Answer" th:field="*{answerSheet.questions[__${i.index}__].questionId}">
													
					 
				</div>
				<input type="submit" value="Submit">
			</form>
		</div>
		<div th:replace="fragments/footer :: footer">&copy; 2014 The
			Static Templates</div>
	</div>
</body>
</html>
